---
layout: default
---
<div class="episodes">
  <div class="logo">
    <div class="container">
      <img src="/assets/images/logo.png" alt=""/>
      <h1>The<br/>minister<br/>prime</h1>
    </div>
  </div>
  <div class="intro">
    <div class="container">
      <blockquote>
        <p><span class="glyph">&alpha;</span> A weekly podcast with the latest progressive house, trance and electronic tracks, all mixed into a single continous mix for your listening pleasure. <span class="glyph">&Omega;</span></p>
      </blockquote>
      <nav>
        &sub;
        <a href="/about">About</a>
        &asymp;
        <a href="https://soundcloud.com/theministerprime">Soundcloud</a>
        &asymp;
        <a href="https://twitter.com/_ministerprime_">Twitter</a>
        &asymp;
        <a href="{{ "/podcast.xml" | prepend: site.baseurl | prepend: site.url }}">Podcast URL</a>
        &sup;
      </nav>
    </div>
  </div>
  <main>
    <div class="episode-list">
      {% for ep in site.data.episodes %}
        <div class="episode">
          <h2>&rsaquo;{{ ep.episode }}</h2>
          <a href="{{ ep.mix_url }}" class="btn">Download &crarr;</a>
          <p class="episode-excerpt">{{ ep.excerpt }}</p>
          <a href="#" class="js-tracklist-toggle">Tracklist &darr;</a>
          <ul class="tracklist is-hidden">
            {% for t in ep.tracklist %}
              <li>{{ t.name }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>
  </main>
</div>
<script src="/assets/javascript/tracklist.js" type="text/javascript" charset="utf-8"></script>
