@import url(http://fonts.googleapis.com/css?family=Cousine:400,700);

$font: "Cousine", sans-serif;
$font-bold: 700;

$base-unit: 1.5em;

html {
  height: 100%;
}

body {
  font: 1em/1.8em $font;
  line-height: 1.4;
  background-color: $black;
  color: $white;
}

main, .container {
  width: 95%;
  max-width: 40em;
  margin: 0 auto;
}

a {
  color: $red;
  text-decoration: none;
  font-weight: $font-bold;
  &:visited {
    opacity: .7;
  }
}

ul {
  list-style-type: none;
}

nav {
  padding: $base-unit 0;
}

.intro {
  padding: $base-unit 0;
}

.logo {
  padding: $base-unit;
  h1 {
    display: inline-block;
    font-size: 20px;
    text-transform: uppercase;
  }
  img {
    display: inline-block;
    vertical-align: bottom;
    width: 80px;
  }
}

.is-hidden {
  display: none;
}
