.episodes {
  background: $black url("/assets/images/bg.svg") repeat-y;
  background-size: 70%;
  background-position: top;
}

.episode-list {
}

.episode {
  padding: $base-unit 0;
  h2 {
    display: inline-block;
    padding-bottom: $base-unit / 4;
    margin-right: $base-unit / 2;
    font-style: italic;
    color: $green;
  }
}

.episode-excerpt {
  padding-bottom: $base-unit / 2;
}

.tracklist {
  padding-top: $base-unit / 2;
  color: $gray;
}

.btn {
  display: inline-block;
  padding: $base-unit / 4 $base-unit / 2;
  vertical-align: text-bottom;
  border: 2px solid $red;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    background: $white;
    border: 2px solid $white;
  }
}

