.episode-list {
}

.episode {
  padding: $base-unit 0;
  h2 {
    display: inline-block;
    padding-bottom: $base-unit / 4;
    font-style: italic;
    color: $green;
  }
}

.episode-excerpt {
  padding-bottom: $base-unit / 2;
}

.tracklist {
  color: $gray;
}

.episode-download {
  display: inline-block;
  padding: $base-unit / 4 $base-unit / 2;
  vertical-align: text-bottom;
  margin-left: $base-unit;
  border: 2px solid $red;
  border-radius: 2px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  &:hover {
    background: $white;
    border: 2px solid $white;
  }
}

